body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

h1{
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;

}

.form-and-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

form, .image-container {
    flex: 1;
    margin: 10px;
}

form {
    max-width: 600px; 
    margin: 0 auto; 

}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; 
    padding: 10px;
     
    border-radius: 5px; 
}
input {
    border: 1px solid #b40000;
}

button {
    background-color: #b40000;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #800000;

}
